@model MVCStudentManagementCRUD.Models.Student
<h2>Student Record</h2>
<a class="btn btn-primary" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("CreateOrUpdate", "Student")')"><i class="fa fa-plus"></i> Add New</a>
<table id="StudentTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.MiddleName)</th>
            <th>@Html.DisplayNameFor(model => model.PreferredName)</th>
            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.Degree)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.Ethnicity)</th>
            <th></th>
        </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
